body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,255,121,1) 0%, rgba(0,255,230,1) 100%);
}
.About-us {
    width: 100%;
    text-align: center;
   
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    color: red;
    font-size: 35px;
}

img {
    border-radius: 50%;
    width: 100px;
}

p {
    font-size: 20px;
}



a {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #3B5998;
    color: white;
    border-radius: 8px;
    font-size: 50px;
}

.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    border: black;
    border-style: groove;
    margin: 20px;
    border-color: black;
    background-color: lightgreen;
}

    .card img {
        height: 70px;
    }

    .navbar{
        margin: auto;
        width: 105%;
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    
    .navbar ul li a{
        text-decoration: none;
        
    }
    
    .footer {
        position: relative;
        top: 70px;
        background-color: #00ff79;
    }
    .footer .social{
        text-align:center;
        padding-bottom: 25px;
        color: black;
    }
    
    .footer .social a{
        font-size: 50px;
        justify-content:space-between;
    }
    
    .footer .add {
        padding: 0 0 50px;
    }
    